body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  margin-right: 1rem;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.layout {
  position: relative;
  flex-direction: column;
  display: flex;
  padding-left: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1
}
